.this-repo {
    width: min(100%, 700px);
    margin: 20px auto;

    >.reposearch {
        margin: 8px auto;
        display: flex;
        gap: 5px;
        width: 100%;
        justify-content: center;

        >.textfield,
        >.button {
            font-size: 18pt;
        }

        >.textfield {
            font-family: var(--sans-serif);
        }
    }

    >.repolist {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}