body {
    --sans-serif: 'Roboto Flex', sans-serif;
    --serif: 'Merriweather', serif;
    --pagination-button: 'Sono', monospace;

    &.lightmode {
        --page-background: #eee;
        --text-color: #000;
        --card-border: #999;
        --hlink-color: #03F;
    }

    &.darkmode {
        --page-background: #222;
        --text-color: #fff;
        --card-border: #777;
        --hlink-color: #08F;
    }
}