.details-card {
    border: 1px solid var(--card-border);
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 5px;
    height: 200px;

    >.poster {
        display: block;
        max-width: 100%;
        max-height: 190px;
    }

    >.details {
        >.title {
            font-size: 20pt;
            font-weight: 500;

            >.repo {
                font-weight: 800;
            }
        }

        >.repourl {
            >.url {
                color: var(--hlink-color);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        >.subs {
            font-size: 24px;
        }
    }
}